*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.content{
    font-family: sans-serif;
    width: 1100px;
    height: 29rem;
}

.content .navbar{
    border-top: solid  rgb(255, 85, 0);
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
.image{
    /* border: solid red; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.image img{
    height: 100%;
    width: 100%;
}
.content .navi{
    /* border: solid white; */
    height: 2.5rem;
    width: 100%;
    display: flex;
    margin-top: 1rem;
}
.navbar .rightbar{
    display: flex;
    /* border: solid white; */
    height: 35px;
    /* color: white; */
    /* margin-top: 1rem; */
}
.navbar .rightbar h1{
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: large;
}

.content .navbar .navi .leftnav{
    /* border: solid white; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
}
.navbar .leftnav .signin{
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin-right: 1rem;
}
.navbar .leftnav .signin a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: small;
}
.navbar .leftnav .createacct{
    /* border: solid red; */
    border-radius: 3px;
    background-color: rgb(255, 85, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    margin-right: 1rem;
}
.navbar .leftnav .createacct a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: small;
}
.navbar .leftnav .forcreators{
    /* border: solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    margin-right: 1rem;
}
.navbar .leftnav .forcreators a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: small;
    font-weight: 300;
    text-transform: capitalize;
}
.navbar .connect{
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    height: max-content;
    color: white;
    position: absolute;
    top: 25vh;

}
.navbar .connect h2{
    font-weight: lighter;
    font-size: 30px;
}
.navbar .connect p{
    margin: 1rem 0rem;
}
.navbar .connect a{
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 85, 0);
    color: white;
    text-decoration: none;
    width: 20%;
    height: 40px;
    border-radius: 2px;
}
 .search{
    background-color: #fff;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 49px 0px 12px; */
    padding: 50px ;
    height: 9rem;
    width: 1100px;
}
.search .input{
    background-color: rgb(242, 242, 242);
    /* border: solid; */
    border-radius: 5px;
    display: flex;
    width: 55%;
    height: 100%;
    align-items: center;
    margin: 0px 16px 0px 50px;
    padding: 0px 10px;
}
.search .input input{
    background-color: rgb(242, 242, 242);
    /* border: solid; */
    outline: none;
    height: 100%;
    flex: 1;
}
.search .upload{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(255, 85, 0);
    margin: 0px 16px;
    height: 100%;
    width: 12%;
    font-family: sans-serif;
}
.search .upload a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-weight: 300
}
.wrap{
    border:1px solid white;
    background-color: white;
    width: 1100px;
    margin-bottom: 5rem;
}
.wrap h2{
    font-family: sans-serif;
    font-weight: 300;
}
.wrap .mage{
    display: flex;
    justify-content: space-evenly;
}
.wrap .mage .magei, .mageii, .mageiii, .mageiv, .magev, .magevi{
    width: 15%;
}
.wrap .mage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.wrap .imag{
    display: flex;
    justify-content: space-evenly;
}
.wrap .imag .imagi, .imagii, .imagiii, .imagiv, .imagv, .imagvi{
    width: 15%;
} 
.wrap .imag img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.wrap .explore{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(255, 85, 0);
    height: 3rem;
    width: 20%;
    font-family: sans-serif;
    margin: 3rem 0rem 2rem 0rem;
}
.wrap .explore a{
    text-decoration: none;
    color: white;
}
.wrapperi{
    /* border: solid black; */
    display: flex;
    /* justify-content: space-evenly; */
    height: 325px;
    width: 950px;
    /* margin-left: 8rem; */

    
}
.wrapperi .pic{
    /* border: solid red; */
    height: 100%;
    width: 70rem;
}
.wrapperi .pic img{
    /* border: solid; */
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.wrapperi .wrapcont{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.wrapperi .wrapcont h1{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 300;
    text-align: center;
}
.wrapcont .non{
    background: linear-gradient( to right, purple,red, orange);
    height: .2rem;
    width: 4rem;
    align-self:flex-start;
    margin-left: 4.5rem;
    margin-top: 1rem;
}
.wrapperi .wrapcont p{
    /* border: solid; */
    font-family: sans-serif;
    text-align: center;
    width: 70%;
    margin: 1rem 0rem 2rem 0rem;
}
.wrapperii{
    width: 1100px;
    background-color: white;
}
.wrapperii img{
    width: 100%;
    height: 100%;
}
.wrapperii .footer{
    /* border: solid; */
    padding-top: 3rem;
    background-color: white;
}
.wrapperii .footer h1{
    font-family: sans-serif;
    font-weight: 300;
}
.wrapperii .footer h2{
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 1rem;
}
.wrapperii .footer .bord{
    border-radius: 3px;
    width: 17%;
    height: 2rem;
    background-color:  rgb(255, 85, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.wrapperii .footer a{
    color: white;
    text-decoration: none;
    font-size: small;
    font-family: sans-serif;
    font-weight: 300;
}
.wrapperii .footer P{
    font-family: sans-serif;
    font-size: .6rem;
    height: 2rem;
    margin-top: 1rem;
}
.wrapperii .footer button{
    border: 1px solid gray;
    border-radius: 2px;
    height: 1.5rem;
    margin-left: .5rem;
    font-family: sans-serif;
    background: white;
}
@media screen and (max-width: 700px){
    .content{
        width: 100%;
        height: 20rem;
    }
    .search{
        width: 100%;
        flex-direction: column;
        height: 12rem;
    }
    .search .upload{
        width: 20%;
    }
    .wrap{
        width: 100%;
    }
    .wrapperi{
        width: 100%;
        margin-bottom: 1rem;
    }
    .wrapperii{
        width: 100%;
    }
    .wrapperii img{
        height: 15rem;
    }

}
@media screen and (max-width: 900px){
    .content{
        width: 100%;
        height: 20rem;
    }
    .search{
        width: 100%;
        flex-direction: column;
        height: 12rem;
    }
    .search .upload{
        width: 20%;
    }
    .wrap{
        width: 100%;
    }
    .wrapperi{
        width: 100%;
        margin-bottom: 1rem;
    }
    .wrapperii{
        width: 100%;
    }
    .wrapperii img{
        height: 15rem;
    }
}
@media screen and (max-width: 900px){
    .content{
        width: 100%;
        height: 20rem;
    }
    .search{
        width: 100%;
        flex-direction: column;
        height: 12rem;
    }
    .search .upload{
        width: 20%;
    }
    .wrap{
        width: 100%;
    }
    .wrapperi{
        width: 100%;
        margin-bottom: 1rem;
    }
    .wrapperii{
        width: 100%;
    }
    .wrapperii img{
        height: 15rem;
    }
}
